<main>
  <div class="PresentationText">
    <h1>Bienvenue chez Les Caisses du Seigneur,</h1>

    <p>
      Le temple des véhicules d'exception. Fondé en 2020 à Villetaneuse, notre
      garage incarne la passion et l'excellence dans l'univers de l'automobile.
      Chez Les Caisses du Seigneur, nous ne nous contentons pas de vendre des
      voitures ; nous vous ouvrons les portes d'un monde où chaque véhicule est
      une œuvre d'art. Notre catalogue varié propose des joyaux roulants pour
      tous les goûts, des classiques élégants aux bolides modernes, tous
      minutieusement sélectionnés pour leur beauté et leur performance. Que vous
      cherchiez à acquérir votre première voiture de luxe ou à échanger un
      modèle que vous possédez déjà, nous sommes là pour vous aider à faire le
      meilleur choix. Votre satisfaction est notre priorité. Nous offrons un
      service personnalisé pour chaque client et un accompagnement de qualité à
      chaque étape de votre achat. Nous comprenons que l'acquisition d'une
      voiture est une expérience significative, et notre équipe s'engage à
      rendre ce moment inoubliable. Pour toute demande de devis ou pour explorer
      notre collection exceptionnelle, n'hésitez pas à nous contacter via
      l'onglet 'Contact'. Les Caisses du Seigneur, bien plus qu'un garage : une
      destination pour les amateurs de belles voitures.
    </p>
  </div>

  <div>
    <h2 style="margin-top: 5%; margin-left: 5%; color: red">
      Véhicule à la Une !
    </h2>
    <div style="display: flex; justify-content: space-evenly; margin: 1%">
      <app-home-page-cars-items></app-home-page-cars-items>
    </div>
    <div class="more-vehicules-div">
      <button class="more-vehicules" (click)="GoToCarsItemsPage()">
        Voir plus de véhicules ! >>>
      </button>
    </div>
  </div>
</main>
