.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container div {
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 22px);
  }
  
  button {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  