<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Les Caisses Du Seigneur</h4>
      <p>
        Les Caisses Du Seigneur est un garage automobile habilité à vendre et
        acheter des véhicules motorisés.
      </p>
    </div>
    <div class="footer-section">
      <h4>Contact</h4>
      <p>Téléphone: +33 1 23 45 67 89</p>
      <p>Email: contact&#64;lsds.fr</p>
    </div>
    <div class="footer-section">
      <h4>Liens Rapides</h4>
      <ul>
        <li><a href="#home">Accueil</a></li>
        <li><a href="/cars">Acheter</a></li>
        <li><a href="/sell">Vendre</a></li>
        <li><a href="/contactUs">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; Les Caisses Du Seigneur | Conçu par LCDS pour ECE
  </div>
</footer>
